page-tamagotchi {
    .tamagotchiContainer{
        width: 100%;
        height: 100%;
        background-size: contain!important;
        overflow-y: hidden !important;
    }
    .happyBaby{
       background: url(../assets/tamagotchiPics/OWL_HAPPY.png) no-repeat;
       background-attachment: fixed;
       background-position: center;  
     }
    .sadBaby{
       background: url(../assets/tamagotchiPics/baby-sad.png) no-repeat;
       background-attachment: fixed;
       background-position: center;    
    } 
    .superSadBaby{
       background: url(../assets/tamagotchiPics/baby-super-sad.png) no-repeat; 
       background-attachment: fixed;
       background-position: center;   
    }
    .scroll-content {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
        display: block;
        overflow-x: hidden;
        overflow-y: hidden;
        contain: size style layout;
    }
}
